/* FULL PAGE CSS */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../media/images/watermelon-pattern.jpg");
    color: black;
}

body h3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/* CONTAINER CSS */

.container  {
    height: 800px;
    width: 900px;
    margin: 0 auto;
    background-color: #f3f3f3;
    
}

/* HEADER CSS */

header {
    background-color:#ff545e;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

header h1 {
    text-align: center;
}

header h2 {
    text-align: center;
}

/* NAVIGATION CSS */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6ec2b1;
  }
  
nav ul  li {
    float: left;
  }
  
nav ul  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
nav ul  li a:hover {
    background-color: #589ea5;
  }


/* General  Css */
p {
    text-align: center;
}

img {
    display: block;
    width: 250px;
    margin: 0 auto;
}

button {
    background-color: #ff545e; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;


    display: block;
    width: 250px;
    margin: 80 auto;
  }

button a {
    color: white;
    text-decoration: none;
}

